{% extends 'base.html' %}

{% block extend_title %}Homepage |{% endblock %}

{% block content %}
<main class="page__content">
  <section class="section section--centered">
    <h1 class="title--main">Django Forum</h1>
    <div class="main__intro wrapper--centered">
      <p>Bienvenue sur le template HTML du ta formation ! Le but de ce dernier va être de te familiariser avec le HTML ainsi que la notation BEM employée chez nous. De plus, cela te permettra d'observer les réflexions UX/UI vitales afin d'offrir un projet de qualité à nos clients adorés 🤝. Bon amusement !</p>
    </div>
  </section>
</main>
{% endblock %}