{% extends 'base.html' %}

{% block extend_title %}Sign in |{% endblock %}

{% block content %}
<main class="page__content">
    <section class="section wrapper--form wrapper--centered">
        <div class="card card--form">
            <div class="section--centered">
                <h1 class="title--header">Sign in</h1>
            </div>

            {% if not request.user.is_authenticated %}
            <div class="form__container">
                <form method="post">
                    {% csrf_token %}
                    <div class="form__line">
                        <div class="form__part form__part--full">
                            <label class="form__label" for="email">Email</label>
                            <input type="text" name="email" autofocus="false" placeholder="Email" class="input--classic input--text"
                            required="" id="id_email">
                        </div>
                    </div>

                    <div class="form__line">
                        <div class="form__part form__part--full">
                            <label class="form__label" for="password">Password</label>
                            <input type="password" name="password" autofocus="false" placeholder="Password" class="input--classic input--text"
                            required="" id="id_password">
                        </div>
                    </div>

                    <div class="form__submit">
                        <input  type="submit" class="btn btn--primary btn--full" value="Log In" />
                        <div class="section--centered">
                            <a href="{% url 'reset_pwd_form' %}" class="password__reset">Forgot password?</a>
                        </div>
                    </div>
                </form>
            </div>
            {% else %}
                <div class="main__intro wrapper--centered">
                    <p>You are already logged in.  To sign into another account, first <a class="text-primary" href="{% url 'logout' %}">sign out</a>.</p>
                </div>
            {% endif %}
            </div>
        </div>
    </section>
</main>
{% endblock %}