{% extends 'base.html' %}
{% load static %}

{% block extend_title %}Profil |{% endblock %}

{% block content %}
<head>
    <title>Edit My Profile - {{ user.first_name }} {{ user.last_name }} | Django Forum</title>
</head>

<body>
    {% if messages %}
    <div class="message__container">
        {% for message in messages %}
        <div class="message__success">
            <p>{{ message }}</p>
        </div>
        {% endfor %}
    </div>
    {% endif %}

    <header class="header">
        <div class="header__content header__content--user">
			<span class="banner--user">
			</span>

		</div>
    </header>

    <main class="page__content">
        <section class="section wrapper--form wrapper--centered">
            <div class="card card--form">
                <div class="section--centered">
                    <h1 class="title--header">My Profile</h1>
                </div>
                
                {% if request.user.is_authenticated %}
                <div class="form__container">

                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form__line">
                            <div class="section--centered">
                                <div class="form__part form__part--full">
                                    <label class="form__label" for="imageUpload">Photo</label>
                                    <label class="profile" for="imageUpload">
                                        <img src="{{ user.get_avatar_url }}">
                                    </label>
                                    <input type="file" id="imageUpload" name="profile_photo" accept="image/*" onchange="form.submit()">
                                </div>
                            </div>
                        </div>

                        <div class="form__line">
                            <div class="form__part form__part--full">
                                <label for="email" class="form__label">Email</label>
                                <input type="text" name="email" autofocus="false" value="{{ user.email }}" placeholder="{{ user.email }}" class="input--classic input--text"
                                    required="" id="id_email">
                            </div>
                        </div>

                        <div class="form__line column column--spaced">
                            <div class="form__part form__part--half">
                                <div class="form__part form__part--full">
                                    <label for="first_name" class="form__label">First Name</label>
                                    <input type="text" name="first_name" autofocus="false" value="{{ user.first_name }}" placeholder="{{ user.first_name }}" class="input--classic input--text"
                                        id="id_first_name">
                                </div>
                            </div>
                            <div class="form__part form__part--half">
                                <div class="form__part form__part--full">
                                    <label for="last_name" class="form__label">Last Name</label>
                                    <input type="text" name="last_name" autofocus="false" value="{{ user.last_name }}" placeholder="{{ user.last_name }}" class="input--classic input--text"
                                        id="id_last_name">
                                </div>
                            </div>
                        </div>
                        
                        <div class="form__line">
                            <div class="form__part form__part--full">
                                <label for="username" class="form__label">Username</label>
                                <input type="text" name="username" autofocus="false" value="{{ user.user_username }}" placeholder="{{ user.user_username }}" class="input--classic input--text"
                                    id="id_username">
                            </div>
                        </div>

                        <div class="form__submit">
                            <input type="submit" class="btn btn--primary btn--full" value="Update My Profile"/>
                        </div>
                    </form>
                </div>
                {% else %}
                    <div class="main__intro wrapper--centered">
                        <p>To view your profile, you need to <a href="{% url 'login' %}" title="Sign in">sign in</a>.</p>
                    </div>
                {% endif %}
            </div>
        </section>
    </main>
</body>

{% endblock %}