{% extends 'base.html' %}

{% block extend_title %}Change PWD |{% endblock %}

{% block content %}
<main class="page__content">
    <section class="section wrapper--form wrapper--centered">
        <div class="card card--form">
            <div class="section--centered">
                <h1 class="title--header">Change password</h1>
            </div>
            <div class="form__container">
                <form method='post' action="{% url 'reset_pwd_complete' %}">
                    {% csrf_token %}
                    <div class="form__line">
                        <div class="form__part form__part--full">
                            <label class="form__label" for="password">New password</label>
                            <input type="password" name="password" autofocus="false" placeholder="Password" class="input--classic input--text"
                                required="" id="id_password">
                        </div>
                    </div>
                    <div class="form__line">
                        <div class="form__part form__part--full">
                            <label class="form__label" for="confirm_password">Confirm password</label>
                            <input type="password" name="confirm_password" autofocus="false" placeholder="Password" class="input--classic input--text"
                                required="" id="id_confirm_password">
                        </div>
                    </div>

                    <div class="form__submit">
                        <input  type="submit" class="btn btn--primary btn--full" value="Submit" />
                    </div>
                </form>
            </div>
        </div>
    </section>
</main>
{% endblock %}