{% extends 'base.html' %}

{% block extend_title %}Change PWD |{% endblock %}

{% block content %}
<main class="page__content">
    <section class="section wrapper--form wrapper--centered">
        <div class="card card--form">
            <div class="section--centered">
                <h1 class="title--header">Change password</h1>
                <div class="main__intro wrapper--centered">
                    <p>
                        Your password has been set. You may go ahead and sign in</a> now.
                    </p>
                    <form action="{% url 'login' %}">

                        <div class="form__submit">
                            <input  type="submit" class="btn btn--primary btn--full" value="Page de connexion" />
                        </div>
            
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}