{% extends 'base.html' %}

{% block extend_title %}Topic |{% endblock %}

{% block content %}
<body>
    <header class="header">
        <div class="header__content wrapper--main">
            <nav>
                <span class="hide"> Fil D'ariane</span>
                <ul class="breadcrumb__list column column--centered">
                    <li class="breadcrumb__item">
                        <a href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="breadcrumb__item">
                        <a href="{% url 'topic_list' filter='all' %}">All topics</a>
                    </li>
                    <li class="breadcrumb__item breadcrumb__item--current">
                        <span>{{ topic.title }}</span>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <main class="page__content forum__content column--free wrapper--main">
        <a href="{% url 'topic_create' %}" class="topic__create"><span>+</span></a>

        <div class="forum_main">
            <section>
                <header class="topic__header">
                    <div class="column column--centered" style='float: right;'>
                        {% if request.user == topic.author and topic.solved == False %}
                            <form method="post">
                                {% csrf_token %}
                                <div class="form__submit">
                                    <input type="submit" class="btn btn--primary" value="Close this topic">
                                </div>
                            </form>
                        {% else %}
                            {% if topic.solved %}
                                <span class="btn">Solved</span>
                            {% else %}
                                <span class="btn">Unsolved</span>
                            {% endif %}
                        {% endif %}
                    </div>
                    <h1 class="title--header">
                        {{ topic.title }}
                    </h1>
                    <div class="answer__header answer__header--main column column--centered">
                        <div class="picture__container">
                            <img class="author__picture" src="{{ topic.author.get_avatar_url }}">
                        </div>
                        <div class="answer__author">
                            <div class="column column--centered">
                                <h3 class="title--author">{{ topic.author.username }}</h3>
                                <span class="author__rank">{{ topic.author.status }}</span>
                            </div>
                            <p class="answer__date">{{ topic.pub_date|timesince }}</p>
                        </div>
                    </div>
                    <div class="topic__content">
                        <p>{{ topic.content }}</p>
                    </div>
                </header>

                <div class="topics__answers">
                    {% if topic.comment_set.count == 1 %}<h2 class="title--section">{{ topic.comment_set.count }} Reply</h2>
                    {% else %}<h2 class="title--section">{{ topic.comment_set.count }} Replies</h2>
                    {% endif %}

                    {% if topic.comment_set.count > 0 %}
                    <ul class="answers__list">
                        {% for comment in topic.comment_set.all %}
                        <li class="answer__item">
                            <article class="answer__article">
                                <div class="answer__header column column--centered">
                                    <div class="picture__container">
                                        <img class="author__picture author__picture--answer" src="{{ comment.author.get_avatar_url }}">
                                    </div>
                                    <div class="answer__author">
                                        <div class="column column--centered">
                                            <h3 class="subtitle--author">{{ comment.author.username }}</h3>
                                            <span class="author__rank">{{ comment.author.status }}</span>
                                        </div>
                                        <p class="answer__date">{{ comment.pub_date|timesince }}</p>
                                    </div>
                                </div>
                                <div class="answer__content">
                                    <p>{{ comment.content }}</p>
                                </div>
                            </article>
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </section>

            <section class="section answer__answer">
                {% if request.user.is_authenticated %}
                <h2 class="title--section">Your message</h2>
                <form class="answer__form" method="post">
                    {% csrf_token %}
                    <div class="form__line">
                        <div class="form__part form__part--full">
                            <textarea class="input--classic input--text" name="reply" id="reply" required></textarea>
                        </div>
                    </div>
                    <div class="form__submit">
                        <input type="submit" class="btn btn--primary btn--full" value="Send" for="reply">
                    </div>
                </form>
                {% else %}
                <div class="main__intro wrapper--centered">
                    <p><a href="{% url 'login' %}">Sign in</a> to comment on this topic</p>
                </div>
                {% endif %}
            </section>
        </div>

        <aside class="forum__aside">
            <nav class="categories__menu">
                <h2 class="title--category">Categories</h2>
                <ul class="categories__list">
                    {% if 'solved' not in request.path and 'no_replies' not in request.path %}
                    <li class="category__item category__item--current">
                    {% else %} <li class="category__item"> {% endif %}
                        <a href="{% url 'topic_list' filter='all' %}" class="category__link">All threads</a>
                    </li>
    
                    {% if 'solved' in request.path and 'unsolved' not in request.path %}
                    <li class="category__item category__item--current">
                    {% else %} <li class="category__item"> {% endif %}
                        <a href="{% url 'topic_list' filter='solved' %}" class="category__link">Solved</a>
                    </li>
    
                    {% if 'unsolved' in request.path %}
                    <li class="category__item category__item--current">
                    {% else %} <li class="category__item"> {% endif %}
                        <a href="{% url 'topic_list' filter='unsolved' %}" class="category__link">Unsolved</a>
                    </li>
    
                    {% if 'no_replies' in request.path %}
                    <li class="category__item category__item--current">
                    {% else %} <li class="category__item"> {% endif %}
                        <a href="{% url 'topic_list' filter='no_replies' %}" class="category__link">No replies</a>
                    </li>
                </ul>
            </nav>
        </aside>
    </main>
</body>
{% endblock %}