{% extends 'base.html' %}

{% block extend_title %}Topics |{% endblock %}

{% block content %}
<body>
    <header class="header">
        <div class="header__content wrapper--main">
            <nav>
                <span class="hide"> Fil D'ariane</span>
                <ul class="breadcrumb__list column column--centered">
                    <li class="breadcrumb__item">
                        <a href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="breadcrumb__item breadcrumb__item--current">
                        <span>All topics</span>
                    </li>
                </ul>
            </nav>
            <h1 class="title--header">
                All subjects
            </h1>
        </div>
    </header>

    <main class="page__content forum__content column--free wrapper--main">
        <a href="{% url 'topic_create' %}" class="topic__create"><span>+</span></a>

        <div class="forum__main">
            <section>
                {% if latest_posts %}
                <ul class="topics__list">
                    {% for topic in latest_posts %}
                        <li class="topic__item card item__wrap">
                            <a href="{% url 'topic_detail' topic.id %}" title="See details">
                                <span class="hide">See details</span>
                            </a>
                            <article class="topic__article">
                                <h3 class="title--topic">{{ topic.title }}</h3>
                                <div class="topic__short">
                                    {{ topic.content }}
                                </div>
                                <div class="topic__author column column--spaced">
                                    <div class="topic__recap column column--centered">
                                        <img class="author__picture author__picture--small"
                                        src="{{ topic.author.get_avatar_url }}">
                                        <p class="author__name">Posted by 
                                            <a href="javascript:void(0)" class="author__link">{{ topic.author.username }}</a> 
                                            {{ topic.pub_date|timesince }} ago</p>
                                    </div>
                                </div>
                            </article>
                        </li>
                    {% endfor %}
                </ul>
                {% endif %}

                <div class="pagination__container column column--centered">
                    {% if latest_posts.has_previous %}
                        <a href="?page={{ latest_posts.previous_page_number }}" class="pagination__btn pagination__arrow"><span><</span></a>
                    {% else %}
                        <a href="?page=1" class="pagination__btn pagination__arrow disabled"><span><</span></a>
                    {% endif %}
                    <ul class="pagination__list column column--centered">
                        {% for i in latest_posts.paginator.page_range %}
                            {% if latest_posts.number == i%}<li class="pagination__item pagination__item--current">
                            {% else %}<li class="pagination__item">{% endif %}
                            <a href="?page={{ i }}" class="pagination__link">{{ i }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                    {% if latest_posts.has_next %}
                        <a href="?page={{ latest_posts.next_page_number }}" class="pagination__btn pagination__arrow"><span>></span></a>
                    {% else %}
                        <a href="?page={{ latest_posts.paginator.num_pages }}" class="pagination__btn pagination__arrow disabled"><span>></span></a>
                    {% endif %}
                </div>
            </section>
        </div>

        <aside class="forum__aside">
            <nav class="categories__menu">
                <h2 class="title--category">Categories</h2>
                <ul class="categories__list">
                    {% if 'solved' not in request.path and 'no_replies' not in request.path %}
                    <li class="category__item category__item--current">
                    {% else %} <li class="category__item"> {% endif %}
                        <a href="{% url 'topic_list' filter='all' %}" class="category__link">All threads</a>
                    </li>
    
                    {% if 'solved' in request.path and 'unsolved' not in request.path %}
                    <li class="category__item category__item--current">
                    {% else %} <li class="category__item"> {% endif %}
                        <a href="{% url 'topic_list' filter='solved' %}" class="category__link">Solved</a>
                    </li>
    
                    {% if 'unsolved' in request.path %}
                    <li class="category__item category__item--current">
                    {% else %} <li class="category__item"> {% endif %}
                        <a href="{% url 'topic_list' filter='unsolved' %}" class="category__link">Unsolved</a>
                    </li>
    
                    {% if 'no_replies' in request.path %}
                    <li class="category__item category__item--current">
                    {% else %} <li class="category__item"> {% endif %}
                        <a href="{% url 'topic_list' filter='no_replies' %}" class="category__link">No replies</a>
                    </li>
                </ul>
            </nav>
        </aside>
    </main>
</body>
{% endblock %}

