{% extends 'base.html' %}

{% block extend_title %}Create Topic |{% endblock %}

{% block content %}
<body>
    <header class="header">
        <div class="header__content wrapper--main">
            <nav>
                <span class="hide"> Fil D'ariane</span>
                <ul class="breadcrumb__list column column--centered">
                    <li class="breadcrumb__item">
                        <a href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="breadcrumb__item">
                        <a href="{% url 'topic_list' filter='all' %}">All topics</a>
                    </li>
                    <li class="breadcrumb__item breadcrumb__item--current">
                        <span>Create a new topic</span>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <main class="page__content forum__content column--free wrapper--main">
        <div class="forum__main">
            <section class="section">
                <h1 class="title--heaer">Create a new topic</h1>
                {% if request.user.is_authenticated %}
                    <div class="form__container">
                        <form method="post" action="{% url 'topic_create' %}">
                            {% csrf_token %}
                            <div class="form__line">
                                <div class="form__part form__part--full">
                                    <label class="form__label" for="title">Your title</label>
                                    <input type="text" class="input--classic input--text" id="title" name="title" required>
                                </div>
                            </div>

                            <div class="form__line">
                                <div class="form__part form__part--full">
                                    <label class="form__label" for="description">Your message</label>
                                    <textarea class="input--classic input--text" id="description" name="description" required></textarea>
                                </div>
                            </div>

                            <div class="form__submit">
                                <input type="submit" class="bnt btn--primary btn--full" value="Create">
                            </div>
                        </form>
                    </div>
                {% else %}
                    <div class="main__intro wrapper--centered">
                        <p><a href="{% url 'login' %}">Sign in</a> to create a new topic.</p>
                    </div>
                {% endif %}
            </section>
        </div>

        <aside class="forum__aside">
            <nav class="categories__menu">
                <h2 class="title--category">Categories</h2>
                <ul class="categories__list">
                    {% if 'solved' not in request.path and 'no_replies' not in request.path %}
                    <li class="category__item category__item--current">
                    {% else %} <li class="category__item"> {% endif %}
                        <a href="{% url 'topic_list' filter='all' %}" class="category__link">All threads</a>
                    </li>
    
                    {% if 'solved' in request.path and 'unsolved' not in request.path %}
                    <li class="category__item category__item--current">
                    {% else %} <li class="category__item"> {% endif %}
                        <a href="{% url 'topic_list' filter='solved' %}" class="category__link">Solved</a>
                    </li>
    
                    {% if 'unsolved' in request.path %}
                    <li class="category__item category__item--current">
                    {% else %} <li class="category__item"> {% endif %}
                        <a href="{% url 'topic_list' filter='unsolved' %}" class="category__link">Unsolved</a>
                    </li>
    
                    {% if 'no_replies' in request.path %}
                    <li class="category__item category__item--current">
                    {% else %} <li class="category__item"> {% endif %}
                        <a href="{% url 'topic_list' filter='no_replies' %}" class="category__link">No replies</a>
                    </li>
                </ul>
            </nav>
        </aside>
    </main>
</body>
{% endblock %}