{% extends 'base.html' %}

{% block title %}Enter new password{% endblock %}

{% block content %}

{% if validlink %}
<head>
    <title>Choose New Password | Django Forum</title>
</head>
<body>
    <main class="page__content">
    <section class="section wrapper--form wrapper--centered">
        <div class="card card--form">
            <div class="section--centered">
                <h1 class="title--header">Change password</h1>
            </div>
            <div class="form__container">
                    <form method='post'>
                    {% csrf_token %}
                    <!-- <p>{{form.errors}}</p> -->
                    <div class="form__line">
                        <div class="form__part form__part--full">
                            <label class="form__label" for="new_password1">New password</label>
                            <input type="password" name="new_password1" autofocus="false" placeholder="Password" class="input--classic input--text"
                                required="" id="id_new_password1">
                            {% for k, v in form.errors.items %}
                                {% if k == 'new_password1' %}
                                    <div class="message__error">{{ v }}</div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="form__line">
                        <div class="form__part form__part--full">
                            <label class="form__label" for="new_password2">Confirm password</label>
                            <input type="password" name="new_password2" autofocus="false" placeholder="Password" class="input--classic input--text"
                                required="" id="id_new_password2">
                            {% for k, v in form.errors.items %}
                                {% if k == 'new_password2' %}
                                    <div class="message__error">{{ v }}</div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>

                    <div class="form__submit">
                        <input  type="submit" class="btn btn--primary btn--full" value="Set New Password" />
                    </div>
                </form>
            </div>
        </div>
    </section>
    </main>

    <!-- <h1>Set a new password!</h1>
    <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Change my password">
    </form> -->

    {% else %}

    <p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>

    {% endif %}
</body>
{% endblock %}