{% extends 'base.html' %}

{% block title %}Password reset complete{% endblock %}

{% block content %}
<head>
    <title>Successful Password Reset | Django Forum</title>
</head>
<body>
    <main class="page__content">
        <section class="section wrapper--form wrapper--centered">
            <div class="card card--form">
                <div class="section--centered">
                    <h1 class="title--header">Password reset complete</h1>
                    <div class="main__intro wrapper--centered">
                        <p>
                            Your password has been set. You may go ahead and sign in now.
                        </p>
                        <form action="{% url 'login' %}">

                            <div class="form__submit">
                                <input  type="submit" class="btn btn--primary btn--full" value="Sign in" title="Sign In" />
                            </div>
                
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- 
    <h1>Password reset complete</h1>
    <p>Your new password has been set. You can log in now on the <a href="{% url 'login' %}">log in page</a>.</p> -->
</body>
{% endblock %}