{% extends 'base.html' %}

{% block title %}Email Sent{% endblock %}

{% block content %}
<head>
    <title>Email Sent for Password Reset | Django Forum</title>
</head>
<body>
    <main class="page__content">
    <section class="section wrapper--form wrapper--centered">
        <div class="card card--form">
            <div class="section--centered">
                <h1 class="title--header">Forgot password</h1>
                <div class="main__intro wrapper--centered">
                    <p>
                        We've emailed you instructions for setting your password, if an account exists with the email you entered.
                        You should receive them shortly.
                    </p>
                    <p>
                        If you don't receive an email, please make sure you've entered the address you registered with,
                        and check your spam folder.
                    </p>
                    <form action="{% url 'home' %}">

                        <div class="form__submit">
                            <input  type="submit" class="btn btn--primary btn--full" value="Return to Home Page" title="Home" />
                        </div>
            
                    </form>
                </div>
            </div>
        </div>
    </section>
    </main>
    <!-- <h1>Check your inbox.</h1>
    <p>We've emailed you instructions for setting your password. You should receive the email shortly!</p> -->
</body>
{% endblock %}