{% extends 'base.html' %}

{% block title %}Forgot Your Password?{% endblock %}

{% block content %}
<head>
  <title>Confirm Email for Password Reset| Django Forum</title>
</head>
<body>
  <main class="page__content">
    <section class="section wrapper--form wrapper--centered">
        <div class="card card--form">
            <div class="section--centered">
                <h1 class="title--header">Forgot your password?</h1>
            </div>
            <div class="form__container">
                  <form method='post'>
                    {% csrf_token %}
                    <div class="form__line">
                        <div class="form__part form__part--full">
                            <label class="form__label" for="email">Email</label>
                            <input type="text" name="email" autofocus="false" placeholder="Email" class="input--classic input--text"
                            required="" id="id_email">
                            {% for k, v in form.errors.items %}
                                {% if k == 'email' %}
                                    <div class="message__error">{{ v }}</div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>

                    <div class="form__submit">
                        <input  type="submit" class="btn btn--primary btn--full" value="Send Email to Reset Password" />
                    </div>
                </form>
            </div>
        </div>
    </section>
  </main>

    <!-- <h1>Forgot your password?</h1>
    <p>Enter your email address below, and we'll email instructions for setting a new one.</p>

    <form method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Send me instructions!">
    </form> -->
</body>
{% endblock %}