/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/**
 * CONTENTS
 *
 * SETTINGS
 *
 *
 * GENERIC
 *
 * BASE

 *
 * OBJECTS

 *
 * COMPONENTS

 *
 * TRUMPS

 */
/**
 * #SETTINGS
 */
/*!
 * inuitcss, by @csswizardry
 *
 * github.com/inuitcss | inuitcss.com
 */
/**
 * #TOOLS
 */
 input, textarea, form {
    color: #494949;
    font-family: inherit;
    font-family: inherit;
    font-size: inherit;
    outline: none;
    border: transparent;
    background: none;
  }
  
  textarea {
    resize: vertical;
  }
  
  button:focus {
    outline: none;
  }
  
  ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: rgba(73, 73, 73, 0.8);
    opacity: 1;
  }
  
  :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: rgba(73, 73, 73, 0.8);
  }
  
  ::placeholder {
    /* Most modern browsers support this now. */
    color: rgba(73, 73, 73, 0.8);
  }
  
  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
  }
  
  /*Change text in autofill textbox*/
  input:-webkit-autofill {
    -webkit-text-fill-color: #090909 !important;
  }
  
  .input--white:-webkit-autofill,
  .input--white:-webkit-autofill:hover,
  .input--white:-webkit-autofill:focus,
  .input--white:-webkit-autofill:active {
    -webkit-transition-delay: 99999s;
  }
  
  select, button, form fieldset {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    border: none;
    border-radius: 0px;
    background: none;
  }
  
  /**
   * #GENERIC
   */
  /*! normalize.css v3.0.1 | MIT License | git.io/normalize */
  /**
   * 1. Set default font family to sans-serif.
   * 2. Prevent iOS text size adjust after orientation change, without disabling
   *    user zoom.
   */
  html {
    font-family: sans-serif;
    /* 1 */
    -ms-text-size-adjust: 100%;
    /* 2 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
  }
  
  /**
   * Remove default margin.
   */
  body {
    margin: 0;
  }
  
  /* HTML5 display definitions
     ========================================================================== */
  /**
   * Correct `block` display not defined for any HTML5 element in IE 8/9.
   * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
   * Correct `block` display not defined for `main` in IE 11.
   */
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  main,
  nav,
  section,
  summary {
    display: block;
  }
  
  /**
   * 1. Correct `inline-block` display not defined in IE 8/9.
   * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
   */
  audio,
  canvas,
  progress,
  video {
    display: inline-block;
    /* 1 */
    vertical-align: baseline;
    /* 2 */
  }
  
  /**
   * Prevent modern browsers from displaying `audio` without controls.
   * Remove excess height in iOS 5 devices.
   */
  audio:not([controls]) {
    display: none;
    height: 0;
  }
  
  /**
   * Address `[hidden]` styling not present in IE 8/9/10.
   * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
   */
  [hidden],
  template {
    display: none;
  }
  
  /* Links
     ========================================================================== */
  /**
   * Remove the gray background color from active links in IE 10.
   */
  a {
    background: transparent;
  }
  
  /**
   * Improve readability when focused and also mouse hovered in all browsers.
   */
  a:active,
  a:hover {
    outline: 0;
  }
  
  /* Text-level semantics
     ========================================================================== */
  /**
   * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
   */
  abbr[title] {
    border-bottom: 1px dotted;
  }
  
  /**
   * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
   */
  b,
  strong {
    font-weight: bold;
  }
  
  /**
   * Address styling not present in Safari and Chrome.
   */
  dfn {
    font-style: italic;
  }
  
  /**
   * Address variable `h1` font-size and margin within `section` and `article`
   * contexts in Firefox 4+, Safari, and Chrome.
   */
  h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }
  
  /**
   * Address styling not present in IE 8/9.
   */
  mark {
    background: #ff0;
    color: #000;
  }
  
  /**
   * Address inconsistent and variable font size in all browsers.
   */
  small {
    font-size: 80%;
  }
  
  /**
   * Prevent `sub` and `sup` affecting `line-height` in all browsers.
   */
  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  
  sup {
    top: -0.5em;
  }
  
  sub {
    bottom: -0.25em;
  }
  
  /* Embedded content
     ========================================================================== */
  /**
   * Remove border when inside `a` element in IE 8/9/10.
   */
  img {
    border: 0;
  }
  
  /**
   * Correct overflow not hidden in IE 9/10/11.
   */
  svg:not(:root) {
    overflow: hidden;
  }
  
  /* Grouping content
     ========================================================================== */
  /**
   * Address margin not present in IE 8/9 and Safari.
   */
  figure {
    margin: 1em 40px;
  }
  
  /**
   * Address differences between Firefox and other browsers.
   */
  hr {
    box-sizing: content-box;
    height: 0;
  }
  
  /**
   * Contain overflow in all browsers.
   */
  pre {
    overflow: auto;
  }
  
  /**
   * Address odd `em`-unit font size rendering in all browsers.
   */
  code,
  kbd,
  pre,
  samp {
    font-family: monospace, monospace;
    font-size: 1em;
  }
  
  /* Forms
     ========================================================================== */
  /**
   * Known limitation: by default, Chrome and Safari on OS X allow very limited
   * styling of `select`, unless a `border` property is set.
   */
  /**
   * 1. Correct color not being inherited.
   *    Known issue: affects color of disabled elements.
   * 2. Correct font properties not being inherited.
   * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
   */
  button,
  input,
  optgroup,
  select,
  textarea {
    color: inherit;
    /* 1 */
    font: inherit;
    /* 2 */
    margin: 0;
    /* 3 */
  }
  
  /**
   * Address `overflow` set to `hidden` in IE 8/9/10/11.
   */
  button {
    overflow: visible;
  }
  
  /**
   * Address inconsistent `text-transform` inheritance for `button` and `select`.
   * All other form control elements do not inherit `text-transform` values.
   * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
   * Correct `select` style inheritance in Firefox.
   */
  button,
  select {
    text-transform: none;
  }
  
  /**
   * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
   *    and `video` controls.
   * 2. Correct inability to style clickable `input` types in iOS.
   * 3. Improve usability and consistency of cursor style between image-type
   *    `input` and others.
   */
  button,
  html input[type=button],
  input[type=reset],
  input[type=submit] {
    -webkit-appearance: button;
    /* 2 */
    cursor: pointer;
    /* 3 */
  }
  
  /**
   * Re-set default cursor for disabled elements.
   */
  button[disabled],
  html input[disabled] {
    cursor: default;
  }
  
  /**
   * Remove inner padding and border in Firefox 4+.
   */
  button::-moz-focus-inner,
  input::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
  
  /**
   * Address Firefox 4+ setting `line-height` on `input` using `!important` in
   * the UA stylesheet.
   */
  input {
    line-height: normal;
  }
  
  /**
   * It's recommended that you don't attempt to style these elements.
   * Firefox's implementation doesn't respect box-sizing, padding, or width.
   *
   * 1. Address box sizing set to `content-box` in IE 8/9/10.
   * 2. Remove excess padding in IE 8/9/10.
   */
  input[type=checkbox],
  input[type=radio] {
    box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */
  }
  
  /**
   * Fix the cursor style for Chrome's increment/decrement buttons. For certain
   * `font-size` values of the `input`, it causes the cursor style of the
   * decrement button to change from `default` to `text`.
   */
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    height: auto;
  }
  
  /**
   * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
   * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
   *    (include `-moz` to future-proof).
   */
  input[type=search] {
    -webkit-appearance: textfield;
    /* 1 */
    /* 2 */
    box-sizing: content-box;
  }
  
  /**
   * Remove inner padding and search cancel button in Safari and Chrome on OS X.
   * Safari (but not Chrome) clips the cancel button when the search input has
   * padding (and `textfield` appearance).
   */
  input[type=search]::-webkit-search-cancel-button,
  input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none;
  }
  
  /**
   * Define consistent border, margin, and padding.
   */
  fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
  }
  
  /**
   * 1. Correct `color` not being inherited in IE 8/9/10/11.
   * 2. Remove padding so people aren't caught out if they zero out fieldsets.
   */
  legend {
    border: 0;
    /* 1 */
    padding: 0;
    /* 2 */
  }
  
  /**
   * Remove default vertical scrollbar in IE 8/9/10/11.
   */
  textarea {
    overflow: auto;
  }
  
  /**
   * Don't inherit the `font-weight` (applied by a rule above).
   * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
   */
  optgroup {
    font-weight: bold;
  }
  
  /* Tables
     ========================================================================== */
  /**
   * Remove most spacing between table cells.
   */
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  td,
  th {
    padding: 0;
  }
  
  /*------------------------------------*\
      #RESET
  \*------------------------------------*/
  /**
   * As well as using normalize.css, it is often advantageous to remove all
   * margins from certain elements.
   */
  body,
  h1, h2, h3, h4, h5, h6,
  p, blockquote, pre,
  dl, dd, ol, ul,
  form, fieldset, legend,
  figure,
  table, th, td, caption,
  hr {
    margin: 0;
    padding: 0;
  }
  
  /**
   * Give a help cursor to elements that give extra info on `:hover`.
   */
  abbr[title],
  dfn[title] {
    cursor: help;
  }
  
  /**
   * Remove underlines from potentially troublesome elements.
   */
  u,
  ins {
    text-decoration: none;
  }
  
  /**
   * Apply faux underlines to inserted text via `border-bottom`.
   */
  ins {
    border-bottom: 1px solid;
  }
  
  /*------------------------------------*\
      #BOX-SIZING
  \*------------------------------------*/
  /**
   * Set the global `box-sizing` state to `border-box`.
   *
   * css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
   * paulirish.com/2012/box-sizing-border-box-ftw
   */
  html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  /**
   * #BASE
   */
  html {
    font-family: "Muli", sans-serif;
    line-height: 1.6;
    font-size: 15px;
    font-weight: 300;
    color: #494949;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    max-width: 2200px;
    margin: 0px auto;
    overflow-x: hidden;
  }
  
  body {
    width: 100%;
  }
  
  .container--img {
    position: relative;
  }
  .container--img:after {
    display: block;
    content: "";
    width: 100%;
  }
  .container--img > img, .container--img > video {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  
  .item__wrap {
    position: relative;
  }
  .item__wrap > a {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
  }
  
  h1, h2, h3, h4, h5 {
    position: relative;
    font-weight: 700;
    line-height: 1.25;
    color: black;
  }
  
  .title--header {
    font-size: 2.3333333333em;
  }
  
  .title--category {
    font-size: 0.8666666667em;
    color: #A2A2A2;
    text-transform: uppercase;
    letter-spacing: 1.3px;
  }
  
  .title--topic, .title--author {
    font-size: 1.3333333333em;
  }
  
  .subtitle--author {
    font-size: 1.2em;
  }
  
  .subtitle--user {
    color: #A2A2A2;
    font-size: 1.2em;
  }
  
  @media (max-width: 850px) {
    .title--header {
      font-size: 1.8666666667em;
    }
  
    .subtitle--user {
      font-size: 1.1333333333em;
    }
  }
  a {
    text-decoration: none;
    color: #3C54FA;
    transition: all 0.25s ease 0s;
  }
  a:hover {
    color: #233ef9;
    border-color: #233ef9;
  }
  
  .password__reset {
    color: #A2A2A2;
    display: inline-block;
    margin-top: 10px;
  }
  
  /**
   * #OBJECTS
   */
  /*------------------------------------*\
      #LIST-INLINE
  \*------------------------------------*/
  /**
   * The list-inline object simply displays a list of items in one line.
   */
  .list-inline {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .list-inline > li {
    display: inline-block;
  }
  
  .column {
    display: flex;
    flex-wrap: wrap;
  }
  
  .column--free {
    display: flex;
  }
  
  .column--distributed {
    justify-content: space-between;
  }
  
  .column--centered {
    align-items: center;
  }
  
  .column--spaced {
    justify-content: space-between;
  }
  
  .column--centered-w {
    justify-content: center;
  }
  
  .wrapper--centered {
    margin-left: auto;
    margin-right: auto;
  }
  
  .wrapper--main {
    padding-left: 4.7619047619%;
    padding-right: 4.7619047619%;
  }
  
  .wrapper--form, .wrapper--topics {
    width: 750px;
  }
  
  @media (max-width: 850px) {
    .wrapper--form, .wrapper--topics {
      width: 100%;
      padding-left: 4.7619047619%;
      padding-right: 4.7619047619%;
    }
  }
  .section {
    padding-top: 4.1666666667%;
    position: relative;
  }
  
  .section--centered {
    text-align: center;
  }
  
  em {
    font-style: normal;
  }
  
  .text__break {
    display: block;
  }
  
  .main__intro {
    font-size: 1.0666666667em;
    max-width: 650px;
    margin-top: 1.25em;
    line-height: 1.8;
  }
  
  footer {
    margin-top: 6.5789473684%;
    padding-top: 1.3333333333em;
    padding-bottom: 1.3333333333em;
    color: #A2A2A2;
    font-size: 0.9333333333em;
  }
  
  .header__upper {
    background: white;
    box-shadow: 0px 10px 20px 3px rgba(1, 1, 1, 0.05);
    padding-top: 1em;
    padding-bottom: 1em;
    position: relative;
    z-index: 2;
  }
  
  .header__upper--user {
    box-shadow: 0px 10px 20px 3px rgba(1, 1, 1, 0.15);
  }
  
  .header__content {
    padding-top: 2.6666666667em;
    padding-bottom: 2.6666666667em;
  }
  
  .header__content--user {
    padding: 0px;
  }
  
  .header__logo {
    font-weight: 700;
  }
  
  .header__search {
    width: 25%;
    border-radius: 8px;
    background: #F3F3F3;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
  }
  
  .search__submit {
    position: absolute;
    right: 1.3333333333em;
    top: 50%;
    transform: translateY(-50%);
  }
  .search__submit input {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    line-height: 0;
    color: transparent;
  }
  
  .submit__icon {
    display: block;
    line-height: 1;
  }
  
  .banner--user {
    height: 230px;
    display: block;
    background: url(78170e0afbc91e959be9250dad9f19f3.jpg) repeat center center;
    background-size: cover;
    -webkit-background-size: cover;
  }
  
  .user__header {
    position: relative;
    top: -70px;
  }
  
  @media (max-width: 1000px) {
    .header__search {
      position: relative;
      left: inherit;
      top: inherit;
      transform: none;
      width: 35%;
    }
  }
  @media (max-width: 750px) {
    .header__search {
      width: 100%;
      margin-top: 0.6666666667em;
      order: 5;
    }
  }
  .menu__profile {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    -o-object-fit: cover;
       object-fit: cover;
    display: block;
  }
  
  .header__menu a {
    color: #A2A2A2;
    font-weight: 300;
    font-size: 1.0666666667em;
  }
  .header__menu a:hover {
    color: #3C54FA;
    text-decoration: underline;
  }
  .header__menu li {
    display: block;
  }
  .header__menu li + li {
    margin-left: 2.6666666667em;
  }
  
  .menu__item--current a {
    color: #3C54FA;
    font-weight: 700;
    text-decoration: underline;
  }
  
  .categories__list {
    margin-top: 1em;
  }
  
  .category__item {
    display: block;
    font-size: 1.0666666667em;
  }
  .category__item + .category__item {
    margin-top: 0.5em;
  }
  
  .category__link {
    color: #A2A2A2;
  }
  
  .category__item--current {
    font-weight: 700;
  }
  .category__item--current a {
    border-radius: 5px;
    display: block;
    color: #3C54FA;
  }
  
  @media (max-width: 1200px) {
    .header__menu li + li {
      margin-left: 1.6666666667em;
    }
  }
  @media (max-width: 850px) {
    .categories__list {
      display: flex;
      margin-top: 0.6666666667em;
    }
  
    .category__item {
      font-size: 1em;
      margin-right: 1em;
    }
    .category__item + .category__item {
      margin-top: 0px;
    }
  }
  @media (max-width: 550px) {
    .header__menu li {
      font-size: 0.9333333333em;
    }
    .header__menu li + li {
      margin-left: 1.0714285714em;
    }
  }
  ul.slick-dots {
    bottom: 20px;
  }
  
  ul.slick-dots li {
    background: white;
    border-radius: 100%;
    width: 12px;
    height: 12px;
  }
  ul.slick-dots li.slick-active {
    background: #3C54FA;
  }
  ul.slick-dots li button {
    opacity: 0;
  }
  
  .slick-slider .slick-arrow {
    background: blue;
    position: absolute;
    right: 0px;
    bottom: -30px;
    z-index: 40;
    top: inherit;
    left: inherit;
    background: white;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .slick-slider .slick-arrow:focus {
    background: white;
  }
  .slick-slider .slick-arrow:hover {
    background: #3C54FA;
  }
  .slick-slider .slick-arrow:before {
    color: black;
    width: 6px;
    height: 11px;
    display: block;
  }
  .slick-slider .slick-prev {
    right: 60px;
    border-right: 1px solid #494949;
  }
  .slick-slider .slick-next:before {
    content: "";
    background: url(98de41c48072d5c3665d553ef441f045.svg) no-repeat center center;
    background-size: contain;
    -webkit-background-size: contain;
  }
  .slick-slider .slick-prev:before {
    content: "";
    background: url(98de41c48072d5c3665d553ef441f045.svg) no-repeat center center;
    background-size: contain;
    -webkit-background-size: contain;
  }
  
  .btn {
    font-size: 1.0666666667em;
    font-weight: 700;
    display: inline-block;
    border-radius: 9px;
    padding: 0.75em 1.25em;
    transition: all 0.25s ease 0s;
    line-height: 1.2;
  }
  
  .btn--primary {
    background: #3C54FA; 
    color: white;
  }
  .btn--primary:hover {
    background: #0a28f9;
    transform: translateY(-5px);
    color: white;
  }
  
  .btn--full {
    display: block;
    width: 100%;
    text-align: center;
  }
  
  .topic__create {
    position: fixed;
    bottom: 50px;
    right: 4.7619047619%;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #3C54FA;
    color: white;
    font-weight: 700;
    font-size: 3.5333333333em;
    display: flex;
    z-index: 5;
    justify-content: center;
    align-items: center;
    line-height: 1;
    box-shadow: 2px 2px 10px 2px rgba(1, 1, 1, 0.2);
  }
  .topic__create span {
    display: inline-block;
    line-height: 0.5em;
    position: relative;
    top: -4px;
  }
  .topic__create:hover {
    transform: scale(1.1);
    color: white;
    background: #0a28f9;
  }
  
  @media (max-width: 850px) {
    .topic__create {
      width: 45px;
      height: 45px;
      bottom: 20px;
      font-size: 2.6666666667em;
    }
  }
  span.select2-container--default .select2-selection--single {
    border: 1px solid #d1d1d1 !important;
    border-radius: 0px !important;
  }
  
  textarea {
    min-height: 100px;
  }
  
  .form__part input, .form__part textarea {
    width: 100%;
  }
  
  .form__part--half {
    width: 47.5%;
  }
  
  .form__part--full {
    width: 100%;
  }
  
  .form__line + .form__line {
    margin-top: 1em;
  }
  
  .form__submit {
    margin-top: 2em;
  }
  
  .form__error {
    border: 1px solid red;
    color: red;
    background: rgba(255, 0, 0, 0.2);
  }
  
  .form__success {
    border: 1px solid green;
    color: green;
    background: rgba(0, 128, 0, 0.2);
  }
  
  select {
    position: relative;
    background: url(98de41c48072d5c3665d553ef441f045.svg) no-repeat 97.5% center rgba(255, 255, 255, 0.1);
  }
  
  textarea {
    min-height: 200px;
  }
  
  .input--classic {
    border: 1px solid #DEDEDE;
    border-radius: 9px;
    padding: 0.6666666667em 1em;
  }
  
  .search__input {
    font-size: 0.9333333333em;
    padding: 0.7142857143em 1.4285714286em;
  }
  
  .answer__form {
    margin-top: 1.3333333333em;
  }
  
  .form__submit {
    margin-top: 2em;
  }
  
  .form__container {
    margin-top: 2em;
  }
  .form__container .form__submit {
    margin-top: 2em;
  }
  
  .form__label {
    display: block;
    color: black;
    font-weight: 700;
    font-size: 1.0666666667em;
    margin-bottom: 10px;
  }
  
  @media (max-width: 450px) {
    .form__part--half {
      width: 100%;
    }
    .form__part--half + .form__part--half {
      margin-top: 1em;
    }
  }
  .card {
    background: white;
    border-radius: 8px;
    box-shadow: 2px 5px 20px 10px rgba(1, 1, 1, 0.03);
    transition: all 0.25s ease 0s;
  }
  .card.topic__item:hover {
    box-shadow: 2px 5px 20px 10px rgba(1, 1, 1, 0.08);
  }
  
  .card--form {
    padding: 2.6666666667em 5% 4em;
  }
  
  .modal__content {
    margin: 1.3333333333em;
  }
  
  button.remodal-close {
    left: inherit;
    right: 0px;
  }
  
  .breadcrumb__list {
    font-size: 0.9333333333em;
    font-weight: 300;
    margin-bottom: 0.5em;
  }
  .breadcrumb__list.breadcrumb__container--centered ul {
    justify-content: center;
  }
  
  .breadcrumb__item {
    display: block;
    color: #A2A2A2;
  }
  .breadcrumb__item.breadcrumb__item--current {
    color: #3C54FA;
    font-weight: 700;
  }
  .breadcrumb__item + .breadcrumb__item:before {
    content: ">";
    color: #A2A2A2;
    margin: 0px 0.4285714286em;
  }
  .breadcrumb__item a {
    color: #A2A2A2;
  }
  .breadcrumb__item:hover a {
    color: #3C54FA;
  }
  
  .topics__list--user {
    margin-top: 1.6666666667em;
  }
  
  .topic__item {
    padding: 1em 1.6666666667em;
    display: block;
    transition: all 0.25s ease 0s;
  }
  .topic__item + .topic__item {
    margin-top: 2em;
  }
  .topic__item:hover {
    transform: translateY(-5px);
  }
  
  .topic__short {
    max-width: 650px;
    font-size: 0.9333333333em;
    margin-top: 0.7142857143em;
  }
  .topic__short p + p {
    margin-top: 0.7142857143em;
  }
  
  .topic__author {
    font-size: 0.8666666667em;
    border-top: 1px solid rgba(1, 1, 1, 0.05);
    padding-top: 0.7692307692em;
    margin-top: 1.9230769231em;
  }
  
  .author__link {
    position: relative;
    z-index: 20;
    font-weight: 700;
  }
  .author__link:hover {
    color: #0622e4;
  }
  
  .author__name {
    margin-left: 0.7692307692em;
  }
  
  .topic__header {
    margin-bottom: 4.6666666667em;
  }
  
  .topic__content {
    font-size: 1.0666666667em;
  }
  
  .topic__content, .answer__content {
    margin-top: 1.3333333333em;
    line-height: 1.8;
  }
  .topic__content p + p, .answer__content p + p {
    margin-top: 1.8em;
  }
  
  .answer__content {
    font-size: 0.9333333333em;
  }
  
  .answers__list {
    margin-top: 2em;
  }
  
  .answer__item {
    display: block;
  }
  .answer__item + .answer__item {
    padding-top: 4em;
    border-top: 1px solid #DEDEDE;
    margin-top: 1.6666666667em;
  }
  
  .answer__author {
    margin-left: 1.3333333333em;
  }
  
  .answer__header--main {
    margin-top: 2em;
  }
  
  .answer__answer {
    margin-top: 2.6666666667em;
  }
  
  .author__picture {
    border-radius: 50%;
    -o-object-fit: cover;
       object-fit: cover;
    display: block;
    width: 70px;
    height: 70px;
  }
  
  .author__picture--answer {
    width: 50px;
    height: 50px;
  }
  
  .author__picture--small {
    width: 25px;
    height: 25px;
  }
  
  .author__picture--detail {
    width: 160px;
    height: 160px;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid white;
    box-shadow: 0px 2px 10px 10px rgba(1, 1, 1, 0.02);
  }
  
  .picture__container {
    position: relative;
  }
  
  .picture__container--detail {
    margin-bottom: 0.6666666667em;
  }
  
  .author__rank {
    background: #3C54FA;
    color: white;
    display: block;
    border-radius: 8px;
    font-size: 0.8em;
    padding: 0.1666666667em 0.5833333333em;
    font-weight: 700;
    margin-left: 0.6666666667em;
  }
  
  .author__rank--detail {
    display: inline-block;
    font-size: 1em;
    margin: 0.6666666667em 0px 0px;
  }
  
  .user__edit {
    position: absolute;
    right: 4.7619047619%;
    transform: translateY(-20px);
    z-index: 3;
  }
  .user__edit:hover {
    transform: translateY(-15px);
  }
  
  .profile {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    display: block;
    overflow: hidden;
    margin: auto;
    margin-bottom: 1cm;
    cursor: pointer;
  }
  .profile img {
    display: block;
    width: 100%;
    height: 100%;
  }
  
  .forum__content {
    margin-top: 2em;
    flex-direction: row-reverse;
    position: relative;
  }
  
  .forum__main {
    width: 50%;
    min-width: 700px;
    margin-right: auto;
  }
  
  .forum__aside {
    min-width: 250px;
    margin-right: 13.1578947368%;
  }
  
  @media (max-width: 1200px) {
    .forum__aside {
      min-width: 200px;
      margin-right: 6.5789473684%;
    }
  
    .forum__main {
      width: 100%;
      min-width: inherit;
    }
  }
  @media (max-width: 850px) {
    .forum__content {
      flex-direction: column-reverse;
      margin-top: 0px;
    }
  
    .forum__aside, .forum__main {
      min-width: inherit;
      width: 100%;
      margin-right: 0px;
    }
  
    .forum__main {
      margin-top: 2.6666666667em;
    }
  }
  .pagination__container {
    justify-content: center;
    font-size: 1.1333333333em;
    margin-top: 2.3529411765em;
  }
  
  .pagination__list {
    margin: 0px 1.1764705882em;
  }
  
  .pagination__item {
    display: block;
  }
  .pagination__item + .pagination__item {
    margin-left: 0.5882352941em;
  }
  .pagination__item a {
    color: #A2A2A2;
  }
  .pagination__item a:hover {
    color: #3C54FA;
    text-decoration: underline;
  }
  .pagination__item.pagination__item--current a {
    font-weight: 700;
    color: #3C54FA;
  }
  
  .pagination__btn {
    background: #3C54FA;
    border-radius: 50%;
    color: white;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
  }
  .pagination__btn span {
    line-height: 1;
    display: inline-block;
    margin: 0px;
    padding: 0px;
    font-weight: 700;
    position: relative;
    top: -2px;
  }
  .pagination__btn:hover {
    color: white;
    transform: scale(1.1);
    background: #0a28f9;
  }
  
  /**
   * #COMPONENTS
   */
  /**
   * #TRUMPS
   */
  /*------------------------------------*\
      #CLEARFIX
  \*------------------------------------*/
  /**
   * Micro clearfix, as per: css-101.org/articles/clearfix/latest-new-clearfix-so-far.php
   * Extend the clearfix class with Sass to avoid the `.clearfix` class appearing
   * over and over in your markup.
   */
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /*------------------------------------*\
      #WIDTHS
  \*------------------------------------*/
  /**
   * A series of width helper classes that you can use to size things like grid
   * systems. Classes can take a fraction-like format (e.g. `.2/3`) or a spoken-
   * word format (e.g. `two-thirds`). Toggle formats by overriding the
   * `$inuit-use-fractions` variable defined below.
   */
  /**
   * Whole.
   */
  .one-whole {
    width: 100% !important;
  }
  
  /**
   * Halves.
   */
  .one-half,
  .two-quarters,
  .three-sixths,
  .four-eighths,
  .five-tenths,
  .six-twelfths {
    width: 50% !important;
  }
  
  /**
   * Thirds.
   */
  .one-third,
  .two-sixths,
  .three-ninths,
  .four-twelfths {
    width: 33.3333333% !important;
  }
  
  .two-thirds,
  .four-sixths,
  .six-ninths,
  .eight-twelfths {
    width: 66.6666666% !important;
  }
  
  /**
   * Quarters.
   */
  .one-quarter,
  .two-eighths,
  .three-twelfths {
    width: 25% !important;
  }
  
  .three-quarters,
  .six-eighths,
  .nine-twelfths {
    width: 75% !important;
  }
  
  /**
   * Fifths.
   */
  .one-fifth,
  .two-tenths {
    width: 20% !important;
  }
  
  .two-fifths,
  .four-tenths {
    width: 40% !important;
  }
  
  .three-fifths,
  .six-tenths {
    width: 60% !important;
  }
  
  .four-fifths,
  .eight-tenths {
    width: 80% !important;
  }
  
  /**
   * Sixths.
   */
  .one-sixth,
  .two-twelfths {
    width: 16.6666666% !important;
  }
  
  .five-sixths,
  .ten-twelfths {
    width: 83.3333333% !important;
  }
  
  /**
   * Eighths.
   */
  .one-eighth {
    width: 12.5% !important;
  }
  
  .three-eighths {
    width: 37.5% !important;
  }
  
  .five-eighths {
    width: 62.5% !important;
  }
  
  .seven-eighths {
    width: 87.5% !important;
  }
  
  /**
   * Ninths.
   */
  .one-ninth {
    width: 11.1111111% !important;
  }
  
  .two-ninths {
    width: 22.2222222% !important;
  }
  
  .four-ninths {
    width: 44.4444444% !important;
  }
  
  .five-ninths {
    width: 55.5555555% !important;
  }
  
  .seven-ninths {
    width: 77.7777777% !important;
  }
  
  .eight-ninths {
    width: 88.8888888% !important;
  }
  
  /**
   * Tenths.
   */
  .one-tenth {
    width: 10% !important;
  }
  
  .three-tenths {
    width: 30% !important;
  }
  
  .seven-tenths {
    width: 70% !important;
  }
  
  .nine-tenths {
    width: 90% !important;
  }
  
  /**
   * Twelfths.
   */
  .one-twelfth {
    width: 8.3333333% !important;
  }
  
  .five-twelfths {
    width: 41.6666666% !important;
  }
  
  .seven-twelfths {
    width: 58.3333333% !important;
  }
  
  .eleven-twelfths {
    width: 91.6666666% !important;
  }
  
  /*------------------------------------*\
      #SPACING
  \*------------------------------------*/
  /**
   * Margin and padding helper classes. Use these to tweak layout on a micro
   * level.
   *
   * `.(m|p)(t|r|b|l|h|v)(-|+|0) {}` = margin/padding top/right/bottom/left/horizontal/vertical less/more/none
   */
  /**
   * Margin helper classes.
   *
   * Add margins.
   */
  .m {
    margin: 24px !important;
  }
  
  .mt {
    margin-top: 24px !important;
  }
  
  .mr {
    margin-right: 24px !important;
  }
  
  .mb {
    margin-bottom: 24px !important;
  }
  
  .ml {
    margin-left: 24px !important;
  }
  
  .mh {
    margin-right: 24px !important;
    margin-left: 24px !important;
  }
  
  .mv {
    margin-top: 24px !important;
    margin-bottom: 24px !important;
  }
  
  /**
   * Add huge margins.
   */
  .m\+\+ {
    margin: 96px !important;
  }
  
  .mt\+\+ {
    margin-top: 96px !important;
  }
  
  .mr\+\+ {
    margin-right: 96px !important;
  }
  
  .mb\+\+ {
    margin-bottom: 96px !important;
  }
  
  .ml\+\+ {
    margin-left: 96px !important;
  }
  
  .mh\+\+ {
    margin-right: 96px !important;
    margin-left: 96px !important;
  }
  
  .mv\+\+ {
    margin-top: 96px !important;
    margin-bottom: 96px !important;
  }
  
  /**
   * Remove margins.
   */
  .m0 {
    margin: 0 !important;
  }
  
  .mt0 {
    margin-top: 0 !important;
  }
  
  .mr0 {
    margin-right: 0 !important;
  }
  
  .mb0 {
    margin-bottom: 0 !important;
  }
  
  .ml0 {
    margin-left: 0 !important;
  }
  
  .mh0 {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
  
  .mv0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
  
  .hide {
    position: absolute;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    clip: rect(1px 1px 1px 1px);
    width: 1px;
    height: 1px;
  }
  
  .text-cut {
    white-space: nowrap;
    overflow: hidden;
    /* pour Opera 9 */
    text-overflow: ellipsis;
    /* pour le reste du monde */
  }